


body {
    background-color:#F9F6ED;
    font-family: 'verdanna', sans-serif;
    line-height: 1.6;
    
}

#box4::selection{
    color: #F9F6ED;
    background-color: #EB401D;
}
#box2::selection{
    color: #F9F6ED;
    background-color: #EB401D;
}
h4::selection{
    color: #F9F6ED;
    background-color: #EB401D;
}


.container {
    max-width: 1200px;
    margin: 0 auto;

}

header {
    background-color: #EB401D;
    color: #000000;

    text-align: center;
}

nav {
    background-color:#EB401D;

}
h1{
    border: radius 25px;: ;
}



nav a {
    color: #000000;
    text-decoration: none;
  
    margin: 0 10px;




footer {
    background-color: #EB401D;
    color: #000000;

    text-align: center;
}

    nav {
        text-align: center;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }
}
    main{
        margin: 10px;
        color: #000000
        text-align: left;
        font-style: oblique;
        
    }

    .box{
        text-align: left;
        padding: 10px;
        border-style: solid;
        border-radius: 25px;
        border-color: #EB401D;
    }
    #box1{ 
        float: left;
        margin: 20px;
        margin-top:1px;
        width: 700px;
        height: 400px;
    }
    #box2{
        margin: 20px;
        margin-top: 20px;
        height: 400px;
        width: 400x;
        overflow: auto;
        padding: 10px;


       

    }
    #box3{
        color: #000000;
        display: block;
        width: 400px;
        margin: 20px;
    }

    #box0{
        float: right;
        border-color:#3fb5abf ;
        margin-right: 30px;
        margin-bottom: 50px;
    }
    #box2 :hover{
        font-size: 1.25em;
        size: 1.1em;

    }
    #box4{
        width: 600px;
        margin: 20px;
    }

    #box4 p{
        display: none;
    }
    #box4:hover p{
        display: block;
        
       
    }

    #Aboutbutton{
        background-color: #ed3713;border-radius: 25px;border-color: #040404;
    }
    #Homebutton{
        background-color: #ed3713;border-radius: 25px;border-color: #040404;
    }
    #box5{
        text-align: center;
        margin: 20px;
    }
    #box6{
        text-align: center;
        background-color: #EB401D;
        color: #F9F6ED ;
        margin: 20px;

    }
    #box7{
        text-align: center;
        margin: 20px;
    }
    nav{
        margin: 0px;
    }
    head{
        margin: 0px;
    }
    


